.root {
    margin: 0px 20px;
    padding: 5px 0px;
    width: 90%;
}

.header {
    margin: 0px 5px;
    padding: 0px 2px;
}

.head {
    font-size: 1.4em;
    font-weight: bolder;
    color: #000;
}

.container {
    display: flex;
    margin: 8px 10px;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}