.root {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 5.5px 10px;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 0;
    cursor: pointer;
    transition: 0.5s background-color;
}

#normal {
    background-color: white;
    transition: 1s;
    transition: 0.6s;
}

#normal:hover {
    background-color: rgba(211, 211, 211, 0.795);
    color: inherit;
    border-radius: 5px;
    padding: 5.5px 8px;
    transition: 0.1s;
}

#dark {
    background-color: #000;
    color: white;
    padding: 5.5px 8px;
    border-radius: 5px;
    transition: background-color 10s;
}

#dark > .body > .title {
    font-weight: bolder;
}

.index {
    width: 13%;
    height: 100%;
    margin-right: 3px;
}

.id {
    height: 38px;
    width: 38px;
    position: relative;
    border-radius: 5px;
}

.span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bolder;
}

.body {
    width: 87%;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 14px;
    font-weight: normal;
}
