.root {
    color: inherit;
    margin: 0;
}

.folder {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: flex-start;
    margin: 3px 0px -5px 20px;
}

.logo {
    margin: 0px 5px;
}

.name {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin-top: 1px;
    margin-left: 8px;
}

.drawer {
    margin-left: 7px;
    padding: 6px 13px;
}