html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #252525;
  font-weight: normal;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

input {
  background-color: #faff0047
}
