@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Lato&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #1f1f1fef;
  font-weight: normal;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

input {
  background-color: #faff0047
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

::-webkit-scrollbar-track { 
  background: rgba(255, 255, 0, 0.354); 
}