.main {
    display: grid;
    grid-template-rows: 55px 2fr;
    height: 100vh;
    position: relative;
}

.body {
    padding-top: 12px;
    display: grid;
    grid-template-columns: 5% 22% 73%;
    position: relative;
}

.subBody {
    position: relative;
    width: 100%;
}