.root {
    padding: 20px 45px;
    top: 0;
    height: 100%;
    position: absolute;
    overflow: hidden auto;
    width: 100%;
}

.header {
    margin-bottom: 5px;
    padding: 5px
}

.title {
    font-size: 20px;
    font-weight: bolder;
    color: #000;
}

.body {
    width: 98%;
    padding: 10px 20px 10px 10px;
}

.body > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.injected {
    width: 100%;
}

.button {
    outline: none;
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 32px;
    padding: -5px 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: black;
}

.button:hover {
    background-color: #ff9914;
}