.root {
    padding: 5px 30px;
    top: 0;
    height: 100%;
    position: absolute;
    overflow: hidden auto;
    width: 100%;
}

.header {
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.image {
    width: 13%;
    max-width: 55px;
    min-width: 45px;
    display: block;
}

.img {
    border-radius: 5px;
}

.title {
    margin: 0px 0px 0px 10px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}

.title > h3 {
    font-size: 1.01rem;
}

.date {
    font-size: 0.7rem;
}

.body {
    width: 98%;
    padding: 10px 10px 10px 10px;
}

.body > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.injected {
    width: 100%;
}

.button {
    outline: none;
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 32px;
    padding: -5px 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: black;
}

.button:hover {
    background-color: #ff9914;
}