.root {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
    width: 100%;
    position: relative;
}

.list {
    width: 40%;
    position: absolute;
    height: 100%;
}

.preview {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
}