.root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    margin: 30px 0px;
}

.img {
    height: 60px;
    width: 60px;
    position: relative;
    padding: 10px 0px 0px 5px;
    text-align: center;
}

.img > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icons {
    margin: auto auto;
}