.root {
    color: #000;
    margin: 8px 27px 10px 0px ;
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
    background-color: inherit;
    align-items: center;
    width: 29.5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.body {
    margin: 0px 2px 0px 0px;
    display: flex;
    align-items: center;
}

.title {
    margin-left: 6px;
    font-weight: normal;
}

.icon {
    border-radius: 3px;
}

.add {
    margin-left: 12px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 12px;
}